
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<center>
        <h1>Backlog</h1>
</center>

<body>

    <br>
    <br>
          
    <form name = "form" action = "{% url "pbiview" %}"
    method = "POST" >{% csrf_token %}
    <table>
    <tr>
        <center>
        <td>
           <h7> Add a new PBI</h7>
        </td>
    </center>
    </tr>
   
    
    <tr>
        <center>
        <td>    
        <div style = "max-width:400px;" >
       
            <input type = "integer" style = "margin-left:20%;" 
                placeholder = "PBI ID" name = "Pbi id" />
       
        </div>
        </td>
    </center>
    </tr>
    <tr>
         <center> 
        <td>    
                <div style = "max-width:400px;">
                    <input type = "integer" style = "margin-left:20%;" 
                    placeholder = "Project ID" name = "Project id" />
        </div>
        </td>  
        </center>      
    </tr>

    <tr>
        <center>
        <td>
        <div style = "max-width:400px;">
            <input type = "text" style = "margin-left:20%;" 
                placeholder = "Name" name = "name" />
        </div> 
        </td>
        </center>
    </tr>

    <tr>
        <center>
        <td>
        <div style = "max-width:400px;">
            <input type = "text" style = "margin-left:20%;" 
            placeholder = "Description" name = "desc" />
        </div>
        </td>
        </center>
    </tr>
    
    <tr>
            <center>
            <td>
            <div style = "max-width:400px;">
                <input type = "text" style = "margin-left:20%;" 
                placeholder = "Priority" name = "priority" />
            </div>
            </td>
            </center>
    </tr>

    <tr>
        <td>
        <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                height:35px; width:80%;margin-left:19%;" type = "submit" 
                value = "Login" >
                <strong>Submit</strong>
            </button>
         </td>
    </tr>
</table>
 </form>


 <table class="table">
 <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Project ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Total Story Points</th>
            <th scope="col">Priority</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
        {%for  pbi in pbis%}    
          <tr>
            <th scope="row">{{pbi.pbi_id}}</th>
            <td>{{pbi.project_id}}</td>
            <td>{{pbi.name}}</td>
            <td>{{pbi.desc}}<pbi class="desc"></pbi></td>
            <td>{{pbi.storypts}}</td>
            <td>{{pbi.priority}}</td>
            <td><button>Delete</button></td>
            <td><button>Edit</button></td>
          </tr>
     {% endfor %}

    <br> 
    <br> 



</tbody>
</table>
 
     

    
</body>
</html>